.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.content{
  background-color: #084B83;
  color:white;
  padding:5%;
  border-radius: 10px;
  margin-bottom: 5rem;
}

.header{
  font-size: 36px;
}

.main{
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  min-height: 30vh;
}

.input{
  height: 40px;
  border-radius: 4px;
  width: 400px;
  outline: none;
  border: none;
  margin-bottom: 2rem;

  padding:3px;
}
.textarea{
  resize: vertical;
  width: 400px;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 2rem;
  font-size:20px;
}

.input:not([type="file"]){
  font-size: 30px;
}

.button{
  height: 3rem;
  width: 15rem;

  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 30px;
  font-weight: bold;

}

.post{
  border:5px black solid;
  width: 700px;
  height: 700px;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post header{
  display:flex;
  width: 71%;
  justify-content: flex-start;
}

.post header img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-right:10px;
}
.post header div{
  display:flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;

}
.post header div p{
  font-size: large;
  margin:0;
  color: gray;
}

.post header div strong{
  font-size: 20px;
  font-weight: 600;
}


.post > p{
  width: 70%;
  font-size: 30px;
  margin-top: 30px;
  text-align: left;
}


@media(max-width: 600px ){
  .container {
    width: 90vh;
  }

  .content{
    margin-top: 50px;
  }

  .post{
    width: 80vh;
    height: 80vh;
  }

}